<template name="about">
    <div style="text-align: center">
        <div class="divider"></div>
        <div class="section home-heading">
            <h1><a href="/">joggr</a></h1>
            <h5>Create new running and cycling routes</h5>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h5>How to use joggr</h5>
            <ul>
                <li>On the home page, click "Generate Route" to create a new route</li>
                <li>Once the route is generated, you can save it (requires you to log in using username and password) or open the route in Google Maps</li>
                <li>You can adjust the length of the route via the settings dialog</li>
            </ul>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h5>About</h5>
            <p>joggr was designed by Keegan Crankshaw for Hello World</p>
            <ul>
                <li><a href="http://helloworldcode.xyz" target="_blank">Visit Hello World</a></li>
                <li><a href="https://za.linkedin.com/in/keegan-crankshaw-288340b6" target="_blank">See my LinkedIn Profile</a></li>
                <li><a href="https://github.com/kcranky/joggr" target="_blank">Take a look at the joggr source code</a></li>
            </ul>
        </div>
    </div>
</template>