<template name="about">
    <div style="text-align: center">
        <div class="divider"></div>
        <div class="section home-heading">
            <h1><a href="/">joggr</a></h1>
            <h5>Create new walking, running and cycling routes</h5>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h5>How to use joggr</h5>
            <p>The generate route button will create a new route based on the pin location and your distance chosen (default is 5km)</p>
            <p>The purple location button will allow you to drag the map to move the marker</p>
            <p>The green running button will open the route in Google Maps, so you can follow directions</p>
            <p>The blue save button will allow you to store the route (you must be logged in)</p>
            <p>The red settings button will allow you to change the distance</p>
            <p>To load a saved route, simply select the "Old Routes" option</p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h5>About</h5>
            <p>joggr was designed by Hello World</p>
            <ul>
                <li><a href="http://helloworldcode.xyz" target="_blank">Visit Hello World</a></li>
                <li><a href="https://za.linkedin.com/in/keegan-crankshaw-288340b6" target="_blank">See my LinkedIn Profile</a></li>
                <li><a href="https://github.com/kcranky/joggr" target="_blank">Take a look at the joggr source code</a></li>
            </ul>
        </div>
    </div>
</template>