<template name="newrun" id="template">
    <div class="map-container" id="map-container">
        {{#unless geolocationError}}
            {{> googleMap name="runMap" options=runMapOptions}}

            <!-- Select Distance Modal -->
            <div id="distanceSelectModal" class="modal">
                <div class="modal-content">
                    <h4>Select Distance</h4>
                    <p>Enter the distance in Km</p>
                    <input type="number" name="distance" value={{distance}}>
                </div>
                <div class="modal-footer">
                    <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">OK</a>
                </div>
            </div>

            <!-- Save Run Modal -->
            <div id="saveRunModal" class="modal">
                <div class="modal-content">
                    <h4>Set a name for this run</h4>
                    <input type="text" id="runName" value={{runName}}>
                </div>
                <div class="modal-footer">
                    <a href="" id="saveRunBtn" class="modal-action modal-close waves-effect waves-green btn-flat">OK</a>
                </div>
            </div>

        {{else}}
            Geolocation failed: {{geolocationError}}
        {{/unless}}

    </div>
</template>

