<template name="oldroutes">
    <ul class="collection">
        {{#each runs}}
            <li class="collection-item avatar">
                <i class="material-icons circle">directions_run</i>
                <span class="title">{{name}}</span>
                <p>Distance: {{distance}}m <br>
                    {{formatDate date}}
                </p>
                <div class="secondary-content">
                    <a href='/'> <i class="material-icons useRoute">send</i></a><br>
                    <a href='/oldrun'> <i class="material-icons delRoute">delete</i></a>
                </div>

            </li>
        {{else}}
            <div style="text-align: center">
                <h3>Nothing to show here!</h3>
                <p>Try saving some routes from the <a href="/">new route</a> page</p>

            </div>
        {{/each}}
    </ul>
</template>
