<template name="oldrunhome">
    {{#if currentUser}}
        {{> oldrun}}
    {{else}}
        {{> fullPageAtForm}}
    {{/if}}
</template>

<template name="oldrun">
    <ul class="collection">
        {{#each runs}}
            <li class="collection-item avatar">
                <i class="material-icons circle">directions_run</i>
                <span class="title">{{name}}</span>
                <p>Distance: {{distance}}m <br>
                    {{formatDate date}}
                </p>
                <div class="secondary-content">
                    <a href='/'> <i class="material-icons useRoute">send</i></a><br>
                    <a href='/oldrun'> <i class="material-icons delRoute">delete</i></a>
                </div>

            </li>
        {{/each}}
    </ul>
</template>
